*{
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-family: 'DejaVu Sans', sans-serif;
}

h1 {
    text-align: center;
    font-weight: 600;
    background-color: aquamarine;
}

h2 {
    text-align: left;
    background-color: rgb(146, 223, 223);
    font-weight: 600;
}

p, li {
    font-family: 'Times New Roman', serif;
    font-size: 18px;
}

.small-text {
    font-style: italic;
    font-size: 15px;
    /* color: rgb(69, 153, 69); */
}

a, .center, #mainpg-h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.blue {
    color: rgb(8, 105, 97);
}

div.flex {
    display: flex;
    height: 200px;
    width: 100%;
}

div.flex > a, div.flex-img .thumbnail {
    flex: 1;
    flex-basis: auto;
    flex-shrink: 0;
    align-content: center;
    text-decoration: none;
    font-size: 2.1em;
    font-weight: 600;
    height: auto;
}

div.flex > a:nth-child(1) {
    background-color: #96ceb4;	
  }
  
div.flex > a:nth-child(2) {
    background-color: #ee932b;
  }

div.flex > a:nth-child(3) {
    background-color: #88d8b0;
  }

div.flex-img {
    display: flex;
    width: 100%;
}

div.flex-img .thumbnail {
    flex: 1;
    margin: 0px 0px 0px 10px;
}
div.flex-img .thumbnail > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
